openapi: 3.0.0
info:
  title: Chess Tournament API
  version: 1

servers:
  - url: https://chess-tournament-api.devtest.ge/api
    description: production server
  - url: http://localhost:4444/api
    description: local server

paths:
  /grandmasters:
    get:
      tags:
        - Services
      responses:
        '200':
          description: Get all the grandmasters
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      required: true
                    name:
                      type: string
                    image:
                      type: string
                  example:
                    -
                      id: 1
                      name: Nona Gaphrindashvili
                      image: /images/nona.jpg
  /register:
    post:
      tags:
        - Services
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  required: true
                email:
                  type: string
                  required: true
                phone:
                  type: string
                  required: true
                date_of_birth:
                  type: string
                  required: true
                experience_level:
                  type: string
                  required: true
                  enum:
                    - beginner
                    - normal
                    - professional
                already_participated:
                  type: boolean
                  required: true
                character_id:
                  type: integer
                  required: true
            example:
              name: Beth Harmon
              email: beth@redberry.ge
              phone: "598125819"
              date_of_birth: '10/20/1997'
              experience_level: beginner
              already_participated: true
              character_id: 2
      responses:
        '201':
          description: You have successfully registered!
          content:
            application/json:
              schema:
